.leftbar {
  width: 50px;
  height: 1200px;
  border-right: 1px solid #ccc;

}


.leftbarContainer {

  background-color: #ffffff;
  color: #000000;
}

.leftbarContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

.leftbarContainer ul li {
  padding: 17px;
}

.leftbarContainer ul li a {
  text-decoration: none;
  color: inherit;
}