.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
}

.modalInp {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.CreateGroup {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.CreateGroup:hover {
  background-color: #0056b3;
}

.group-friend-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-height: 280px;
  overflow: auto;

  .group-friend-item {
    display: flex;
    align-items: center;
    gap: 10px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;

    .modalInp[type="checkbox"] {
      margin-right: 10px;
      cursor: pointer;
    }

    .frGroup {
      flex-grow: 1;
      cursor: pointer;
      font-size: 1rem;
      color: #333;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #ccc;
    }

    .friendInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        margin: 0;
        font-size: 0.9rem;
        color: #333;

        &.text-sky-500 {
          color: #0ea5e9;
        }

        &.text-sm {
          font-size: 0.8rem;
        }
      }
    }
  }
}