.photoContainer {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 5px;

    .photos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 8px;

        div {
            aspect-ratio: 1;
            width: 100%;
            overflow: hidden;

        }

        img {
            width: 100%;
            height: 100%;
            cursor: pointer;
            display: block;

            &:hover {
                scale: 1.05;
            }
        }
        .no-photos{
           display: flex;
           align-items: center;
           justify-content: center;
        }
    }
}

@media (max-width: 450px) {
    .photoContainer {
        .photos {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}