.friendsContainer{
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    position: sticky;
    top:67px
}
.friend-list{
    background-color: rgb(255, 255, 255);
 

}
/* .friend-list p{
padding: 10px;
} */
.friend-list input{
    margin:20px;
    /* resize: none; */
    outline: none;
    border: 1px solid rgb(204, 204, 204);
    padding-right: 20px;
    width: 80%;
}
.friend-list .data{
    min-height: 10px;
    max-height: 280px;
    overflow: auto;
}
